table.transactions-table {
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.transactions-table td, table.transactions-table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.transactions-table tbody td {
  font-size: 13px;
}
table.transactions-table tr:nth-child(even) {
  background: #F5F5F5;
}
table.transactions-table thead {
  background: #7FC6A4;
}
table.transactions-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #444444;
  text-align: left;
}
